@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.box {
  @apply flex flex-col p-4 rounded-[12px] w-48 h-36 bg-slate-900 border text-white no-underline transition-transform duration-300 ease-in-out;
}

.box:hover {
  @apply transform scale-105 bg-slate-950;
}